    <!-- Content -->
    <section class="section-renovate-stub">
      <div class="stub-content">
        <h1 class="stub-title font-red">
          Сайт обновляется
        </h1>
        <h4>программа 2020 будет скоро доступна</h4> 
        <div class="stub-socials">
          <a
            target="_blank"
            href="https://www.facebook.com/vmff.ru/"
            class="icon"
          >
            <i class="fab fa-facebook-f"></i>
          </a>
          <a target="_blank" href="https://vk.com/vmff_ekb" class="icon">
            <i class="fab fa-vk"></i>
          </a>
          <a
            target="_blank"
            href="https://www.instagram.com/vmff.ru/"
            class="icon"
          >
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </section>

