<!-- Footer -->
<footer class="footer">
  <div class="subscribe-email">
    <div class="container">
      <div class="mini-section">
        <h6 class="regular">
          <span class="font-red bold">Подпишитесь,</span> чтобы ничего не
          пропустить
        </h6>
      </div>
      <div class="mini-section">
        <div class="subscribe-input">
          <input type="email" class="footer-email-input" />
        </div>
        <div class="send-email">
          <button class="send-email-btn">
            <i class="material-icons">send</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="information-board">
      <div class="mini-section">
        <p class="bold">Контакты</p>
        <ul class="list">
          <p>
            <span class="font-red bold">info@vmff.ru</span> - по всем
            вопросам
          </p>
          <p>
            <span class="font-red bold">partnership@vmff.ru</span> - по
            вопросам спонсорства и партнерства
          </p>
        </ul>
      </div>
      <div class="mini-section">
        <p class="bold">Социальные сети</p>
        <div class="social-media-links">
          <a
            href="https://www.instagram.com/vmff.ru/"
            target="_blank"
            class="sidebar-icon icon-instagram"
          >
            <i class="fab fa-instagram"></i>
          </a>
          <a
            href="https://www.facebook.com/vmff.ru/"
            target="_blank"
            class="sidebar-icon icon-facebook"
          >
            <i class="fab fa-facebook-f"></i
          ></a>
          <a
            href="https://vk.com/vmff_ekb"
            target="_blank"
            class="sidebar-icon icon-vk"
          >
            <i class="fab fa-vk"></i
          ></a>
        </div>
      </div>
      <div class="mini-section">
        <p class="bold">Страницы</p>
        <ul class="links-list">
          <a target="_blank" href="/program"
            >Программа фестиваля</a
          >
          <a target="_blank" href="/restaraunt"
            >Ресторанный дворик</a
          >
          <a target="_blank" href="/children"
            >Фестиваль детям</a
          >
        </ul>
      </div>
    </div>
  </div>
  <div class="createdby">
    <p>
      Designed and Created by <a class="font-red" href="">Vlad Bragin</a>
    </p>
  </div>
</footer>