<div class="modal">
  <div class="column">
    <h1><span class="font-red">Спасибо</span> за подписку</h1>
    <a href="#" class="btn btn-round">Далее</a>
  </div>
  <div class="column"></div>
  <i id="close_modal" class="material-icons">close</i>
</div>