<!-- Navigation -->
<nav class="top-fixed">
<div class="left">
  <i id="open-sidebar" class="material-icons">menu</i>
  <a href="/" class="hashtag-link font-black bold"
    >#венский<span class="font-red">фестиваль</span></a
  >
</div>
</nav>