<!-- Navigation -->
<nav class="top-fixed">
<div class="left">
  <i id="open-sidebar" class="material-icons">menu</i>
  <a href="/" class="hashtag-link font-black bold"
    >#венский<span class="font-red">фестиваль</span></a
  >
</div>
<div class="right">
  <a class="btn btn-round" target="_blank" href="https://vmff.timepad.ru/events/">Регистрация</a>
</div>
</nav>