{{! Register Notification }}
<div class="register-notification">
  <i id="close-register-notification" class="material-icons">close</i>
  <div class="grid-container">
    <div class="column">
      <h6 class="font-red">Уважаемые гости!</h6>
      <p>Регистрация в
        <span class="font-red">зрительный зал</span>
        на
        <br />
        день открытия Венского фестиваля (01.07.2021) ЗАКРЫТА
      </p>
      <p>Вход в зону ресторанного дворика возможен без регистрации</p>
      <p>По всем вопросам обращайтесь по телефону
        <a href="tel:+7(343)2063263" class="font-red">+7 (343)20-63-263</a></p>
      <a
        href="#"
        target="_blank"
        class="btn btn-round close-register-notification-btn"
      >Закрыть</a>
    </div>
    <div class="column"></div>
  </div>
</div>