{{! Register Notification }}
<div class="register-notification">
  <i id="close-register-notification" class="material-icons">close</i>
  <div class="grid-container">
    <div class="column">
      <h6 class="font-red">Уважаемые гости!</h6>
      <p>Регистрация в зрительный зал на
        <br />
        ДЕНЬ ОТКРЫТИЯ Венского фестиваля откроется
        <span class="bold">29 июня в 13:00</span>
        по
        <a
          href="https://vmff.timepad.ru/events/"
          target="_blank"
          class="font-red"
        >ссылке</a>
        или по телефону
        <a href="tel:+7(343)2063263" class="font-red">+7 (343)20-63-263</a>
      </p>
      <p>Обращаем Ваше внимание, регистрации сгорают в
        <span class="bold">19:45 в день мероприятия.</span>
      </p>
      <p>Вход в зону ресторанного дворика возможен без регистрации</p>
      <a
        href="https://vmff.timepad.ru/events/"
        target="_blank"
        class="btn btn-round"
      >Регистрация</a>
      <a
        href="#"
        target="_blank"
        class="btn btn-round close-register-notification-btn"
      >Закрыть</a>
    </div>
    <div class="column"></div>
  </div>
</div>