{{!-- Register Notification --}}
<div class="register-notification">
  <i id="close-register-notification" class="material-icons">close</i>
  <div class="grid-container">
    <div class="column">
      <h6 class="font-red">Уважаемые гости!</h6>
      <p>Регистрация каждый день аннулируется в 19:45, далее вход возможен только при наличии свободных мест в порядке живой очереди.</p>
      <p>Регистрация производится на день. Если в день проводится два концерта/шоу, регистрация на отдельное шоу/концерт - невозможна.</p>
      <a href="https://vmff.timepad.ru/events/" target="_blank" class="btn btn-round">Регистрация</a>
      <a href="#" target="_blank" class="btn btn-round close-register-notification-btn">Закрыть</a>
    </div>
    <div class="column"></div>
  </div>
</div>