<!-- Sidebar -->
<aside class="sidebar">
  <i id="close-sidebar" class="material-icons">close</i>
  <h6 class="sidebar-title">
    #венский<span class="font-red">фестиваль</span>
  </h6>
  <div class="menu">
    <a href="/" class="link">
      <i class="material-icons">home</i>
      Главная
    </a>
    <a href="/program" class="link">
      <i class="material-icons">music_note</i>
      Программа Фестиваля
    </a>
    <a href="/restaraunt" class="link">
      <i class="material-icons">restaurant</i>
      Ресторанный Дворик
    </a>
    <a href="/children" class="link">
      <i class="material-icons">child_care</i>
      Фестиваль Детям
    </a>
    <a href="/albums/all" class="link">
      <i class="material-icons">photo</i>
      Фото
    </a>
    <a href="/contacts" class="link">
      <i class="material-icons">contacts</i>
      Контакты
    </a>
    <a href="/faq" class="link">
      <i class="material-icons">format_list_bulleted</i>
      FAQ
    </a>
  </div>
  <div class="btn-row">
    <a
      target="_blank"
      href="https://docs.google.com/forms/d/e/1FAIpQLSdE22wmX4Zr6UCpuUZ3MrrOzkVqod7SBsNeGT2o-dIcJabeAg/viewform"
      class="btn btn-round"
    >Заявка для арендаторов</a>
  </div>
  <div class="social-media-links">
    <a
      href="https://vk.com/vmff_ekb"
      target="_blank"
      class="sidebar-icon icon-vk"
    >
      <i class="fab fa-vk"></i></a>
  </div>
</aside>