.section-children-fest-information {
  .section-thesis {
    p {
      line-height: 1.8;
    }
  }
}

.section-children-fest-program {
  .cards-wrapper {
    margin: 15px 0px 15px 0px;
  }
}

.section-children-fest-slider {
  .slider {
    .gallery-image-wrapper {
      display: inline-block;
      width: 560px;
      outline: none;
      .gallery-image {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
