.section-day-single {
  @include screen(tablet-wide) {
    .container {
      width: 100%;
    }
  }
  .day-content {
    width: 100%;
    height: auto;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    .info-block {
      width: 380px;
      min-height: 100px;
      height: 100%;
      display: flex;
      flex-direction: column;
      @include screen(phone) {
        width: 320px;
      }
    }
    .day-title {
      position: relative;
      text-align: center;
      margin-bottom: 20px;
      &::before {
        @include pseudo;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2.5px;
        background-color: $red;
        @include screen(phone) {
          width: 90%;
          left: 5%;
        }
      }
    }
    .day-icons {
      width: 600px;
      height: auto;
      margin: 20px 0px 20px 0px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 15px;
      @include screen(tablet) {
        width: 95%;
        grid-template-columns: 1fr;
      }
      .icon {
        width: 100%;
        height: 40px;
        position: relative;
        display: flex;
        align-items: flex-end;
        @include screen(tablet) {
          justify-content: flex-start !important;
        }
        i {
          font-size: 30px;
        }
        p {
          margin-left: 10px;
        }
        &:nth-child(1) {
          i {
            color: $green;
          }
        }
        &:nth-child(2) {
          justify-content: center;
          i {
            color: $gold;
          }
        }
        &:nth-child(3) {
          justify-content: flex-end;
          i {
            color: $pink;
          }
        }
      }
    }
    .day-description {
      width: 940px;
      height: auto;
      min-height: 200px;
      position: relative;
      margin-top: 20px;
      border-radius: 20px;
      @include screen(tablet-wide) {
        width: 100%;
      }
    }
    .day-image {
      max-width: 100%;
      border-radius: 20px;
      @include screen(tablet-wide) {
        border-radius: 0;
      }
    }
    .day-share-buttons {
      width: 100%;
      min-height: 50px;
      height: auto;
      position: relative;
      margin: 15px 0px 15px 0px;
      display: flex;
      align-items: center;
      @include screen(tablet) {
        flex-direction: column;
      }
      .share-buttons-wrapper {
        display: flex;
        @include screen(tablet) {
          margin-top: 10px;
        }
        .share-btn {
          margin-left: 15px;
          @include screen(tablet) {
            margin-left: 10px;
            &:first-child {
              margin-left: 0;
            }
          }
        }
        .fb-share-btn {
          background-color: #3b5998;
        }
        .wa-share-btn {
          background-color: #51b97d;
        }
        .tg-share-btn {
          background-color: #55b7e5;
        }
        .em-share-btn {
          background: $red;
          i {
            color: $gray;
          }
        }
      }
    }
    .day-text {
      padding: 10px 10px 30px 0px;
      @include screen(phone) {
        padding-left: 10px;
      }
      p {
        line-height: 2;
      }
    }
  }
}
