.top-fixed {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  border-bottom: 2px solid $gray;
  z-index: 8;
  .left {
    position: absolute;
    left: 20px;
    top: 12.5px;
    display: flex;
    align-items: center;
  }
  #open-sidebar {
    font-size: 35px;
    color: $red;
    cursor: pointer;
  }
  .hashtag-link {
    margin-left: 10px;
    font-size: 20px;
  }
}
