<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <meta name="description" content="Венский фестиваль музыкальных фильмов. Венский фестиваль, ЕКАТЕРИНБУРГ. Лучшие классические музыкальные произведения со всего мира на открытой площадке">
    {{!-- FAVICON --}}
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    {{!-- YANDEX VERIFICATION --}}
    <meta name="yandex-verification" content="0020088541efdc16" />
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(62834716, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
      }); 
      </script> 
      <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(64360438, "init", {
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true
        });
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/64360438" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/62834716" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->
    <!-- FONTAWESOME ICONS -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <!-- MATERIAL ICONS -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/css/style.min.css" />
  </head>
  <body>
    {{!-- SIDEBAR --}}
      {{>sidebar}}
    {{!-- OVERLAY --}}
    <div class="overlay"></div>
    {{!-- NAVBAR --}}
      {{>navbar}}
    <main>
    <!-- Fixed Button -->
      <a href="/program" class="btn-program-fixed">
        <p>Программа</p>
        <i class="material-icons">music_note</i>
      </a>
    {{{body}}}
    </main>
    {{!-- FOOTER --}}
    {{>footer}}    

    {{!-- JS --}}
    <script src="/js/main.js"></script>
  </body>
</html>
