<!-- Section Children Festival Info -->
<section class="section-children-fest-information">
  <div class="container">
    <h2 class="section-title">
      Фестиваль <span class="font-red">Детям</span>
    </h2>
    <p class="section-thesis">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus,
      inventore pariatur alias quos nobis repellendus repellat adipisci
      fugit molestiae, architecto nemo perspiciatis voluptas voluptatibus
      eius! Tempora facere officia veniam explicabo dicta numquam
      accusamus, ratione quia provident cum? Sapiente consectetur
      laudantium iure debitis porro ad nobis ea! Reiciendis quas
      molestias, aperiam perspiciatis rerum, ullam cupiditate veritatis
      libero dolorem dolores, officiis quam?
    </p>
    <p class="section-thesis">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. At enim
      molestias iure libero optio dicta asperiores. Molestiae minima amet
      dicta ducimus, praesentium maxime illum iste fugit omnis aspernatur
      nam, laborum atque, dignissimos cum! Veritatis maiores, delectus
      placeat doloremque deserunt, incidunt maxime quis quo illum, dolore
      harum voluptates blanditiis. Sit vel qui dolorem praesentium illum,
      iure modi magnam temporibus necessitatibus magni!
    </p>
  </div>
</section>
<!-- Section Children Festival Program -->
<section class="section-children-fest-program">
  <div class="container">
    <h2 class="section-title">
      Десткая <span class="font-red">Программа</span>
    </h2>
    <div class="cards-wrapper">
      {{!-- <a href="#" class="card card-program">
        <img src="#" alt="" class="card-image" />
        <div class="card-program-content">
          <div class="date">
            <div class="round-container">
              <h6>3.07</h6>
            </div>
          </div>
          <div class="info">
            <h6>Детское событие</h6>
            <p>Начало в 20:00</p>
            <p>ул. Мира 19, УрФУ</p>
          </div>
        </div>
        <div class="card-program-icon">
          <div class="animated-border"></div>
          <i class="material-icons">arrow_forward</i>
        </div>
      </a> --}}
    </div>
  </div>
</section>
<!-- Section Children Festival Slider -->
<!-- Slick Slider CSS -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css"
/>
<section class="section-children-fest-slider">
  <div
    class="slider slider-nav slick-gallery"
    data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "fade": false, "cssEase": "linear", "arrows": false, "centerMode": false, "focusOnSelect": true, "variableWidth": true, "autoplay": false, "responsive": [{"breakpoint": 1400, "settings": {"centerMode": true}}]}'
  >
    <div class="gallery-image-wrapper">
      <img src="../images/children_1.jpg" class="gallery-image" />
    </div>
    <div class="gallery-image-wrapper">
      <img src="../images/children_2.jpg" class="gallery-image" />
    </div>
    <div class="gallery-image-wrapper">
      <img src="../images/children_3.jpg" class="gallery-image" />
    </div>
    <div class="gallery-image-wrapper">
      <img src="../images/children_4.jpg" class="gallery-image" />
    </div>
  </div>
</section>

<!-- Slider JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"
></script>
<script src="../js/slider-children.js"></script>