<!-- Section Contacts -->
<section class="section-contacts">
  <div class="container">
    <h2 class="section-title">Контакты</h2>
    <div class="contacts-wrapper">
      <div class="contact">
        <i class="fas fa-phone"></i>
        <h6>+7-(343)-350-05-03</h6>
      </div>
      <div class="contact">
        <i class="fas fa-envelope"></i>
        <h6>info@vmff.ru</h6>
      </div>
      <div class="contact">
        <i class="fas fa-envelope"></i>
        <h6>partnership@vmff.ru</h6>
      </div>
      <div class="social-links-wrapper">
        <a
          href="https://www.facebook.com/vmff.ru/"
          target="_blank"
          class="btn btn-facebook"
          ><i class="fab fa-facebook-f"></i>Facebook
        </a>
        <a
          href="https://www.instagram.com/vmff.ru/"
          target="_blank"
          class="btn btn-instagram"
          ><i class="fab fa-instagram"></i>Instagram
        </a>
        <a
          href="https://vk.com/vmff_ekb"
          target="_blank"
          class="btn btn-vk"
          ><i class="fab fa-vk"></i>Вконтакте
        </a>
      </div>
    </div>
  </div>
  <iframe
    class="yandex-map"
    src="https://yandex.ru/map-widget/v1/?um=constructor%3Aeee43a6b86cf922ee9cf567d931931a50a8b3e7e16a9b239e00ef1f85abdf3c2&amp;source=constructor"
    width="100%"
    height="500"
    frameborder="0"
  ></iframe>
</section>