<!-- Section Contacts -->
<section class="section-contacts">
  <div class="container">
    <h2 class="section-title">FAQ</h2>
    <div class="accordion-wrapper">
      <div class="accordion">
        <h6 class="accordion-title">
          Сколько стоит билет на фестиваль и где его можно купить?
        </h6>
        <i class="material-icons plus-icon">clear</i>
      </div>
      <div class="content">
        <p>
          Вход на Венский фестиваль бесплатный
        </p>
      </div>
      <div class="accordion">
        <h6 class="accordion-title">А что с парковкой?</h6>
        <i class="material-icons plus-icon">clear</i>
      </div>
      <div class="content">
        <p>
          Собственной парковки на фестивале не предусмотрено. Пожалуйста,
          пользуйтесь городскими парковочными зонами и во избежание
          неприятных сюрпризов не оставляйте автомобиль в местах, где
          парковка запрещена ( например, прямо перед площадью Кирова)
        </p>
      </div>
      <div class="accordion">
        <h6 class="accordion-title">
          Где можно купить сувениры с логотипом фестиваля?
        </h6>
        <i class="material-icons plus-icon">clear</i>
      </div>
      <div class="content">
        <p>
          Все можно купить в штабе организаторов непосредственно на
          площадке фестиваля. У нас будут футболки и толстовки, зонты и
          пледы, шопперы и много других сувениров и полезных мелочей
        </p>
      </div>
      <div class="accordion">
        <h6 class="accordion-title">
          Что если пойдет дождь, а я забыл зонт?
        </h6>
        <i class="material-icons plus-icon">clear</i>
      </div>
      <div class="content">
        <p>
          В штабе организаторов можно взять зонт в аренду. На случай
          прохладной погоды можно так же арендовать плед.
        </p>
      </div>
      <div class="accordion">
        <h6 class="accordion-title">
          Как стать партнером фестиваля?
        </h6>
        <i class="material-icons plus-icon">clear</i>
      </div>
      <div class="content">
        <p>
          Напишите нам на почту
          <span class="font-red">partnership@vmff.ru.</span> Если вы -
          кофейня или ресторан и хотите арендовать место на фудкорте -
          заполните заявку
          <a
            class="font-red"
            target="_blank"
            href="https://docs.google.com/forms/d/e/1FAIpQLSdE22wmX4Zr6UCpuUZ3MrrOzkVqod7SBsNeGT2o-dIcJabeAg/viewform"
            >здесь</a
          >
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Accordion JS -->
<script src="/js/accordion.js"></script>