<!-- Section Renters -->
<section class="section-renters">
  <div class="container">
    <h2 class="section-title">
      Ресторанный <span class="font-red">Дворик</span>
    </h2>
    <div class="cards-wrapper">
      {{!-- <div class="card">
        <img
          src="../images/logo_sponsors_1.png"
          alt=""
          class="card-image"
        />
        <h6 class="card-title">Simple Coffee</h6>
        <div class="card-overlay">
          <h6>Simple Coffee</h6>
          <p>Кофе | Чай | Выпечка</p>
          <a target="_blank" href="https://simplecoffee.ru/" class="btn"
            >Перейти на сайт</a
          >
        </div>
      </div> --}}
    </div>
  </div>
</section>
<!-- Section For Renters -->
<section class="section-for-renters">
  <div class="container">
    <h2 class="section-title">Арендаторам</h2>
    <div class="flex-container">
      <p class="renters-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Reiciendis error tempore quisquam laudantium labore, animi dolorem
        esse rerum dolorum a beatae voluptates, odio tempora omnis itaque,
        debitis tenetur nostrum impedit ipsa repellat nemo repudiandae
        delectus. Asperiores nobis impedit dignissimos incidunt dolor ab
        quibusdam? Aliquam eligendi quam ullam ex, ipsum porro.
      </p>
      <p class="renters-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Accusamus at quia ex nisi blanditiis dolorem quas, illo hic rem
        beatae?
      </p>
      <div class="cards-wrapper">
        <div class="card">
          <div class="card-icon">
            <i class="material-icons">calendar_today</i>
          </div>
          <h6 class="card-title">24 дня</h6>
          <p class="card-description">
            длится фестиваль <br />
            c 1.07 по 24.07
          </p>
        </div>
        <div class="card">
          <div class="card-icon">
            <i class="material-icons">person_outline</i>
          </div>
          <h6 class="card-title">5000 гостей</h6>
          <p class="card-description">
            посещают фестиваль <br />
            ежедневно
          </p>
        </div>
        <div class="card">
          <div class="card-icon">
            <i class="material-icons">attach_money</i>
          </div>
          <h6 class="card-title">500-700 рублей</h6>
          <p class="card-description">
            составляет средний чек на человека
          </p>
        </div>
        <div class="card">
          <div class="card-icon">
            <i class="material-icons">attach_money</i>
          </div>
          <h6 class="card-title">Заявка для арендаторов</h6>
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSdE22wmX4Zr6UCpuUZ3MrrOzkVqod7SBsNeGT2o-dIcJabeAg/viewform"
            class="btn card-btn"
            >Заявка</a
          >
        </div>
      </div>
      <div class="renters-info">
        <div class="image-block">
          <img src="/images/renters-1.jpg" alt="" />
        </div>
        <div class="image-block">
          <img src="/images/renters-2.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>