<!-- Section Welcome -->
<section class="section-welcome">
  <div class="slider-welcome">
    <div class="slides">
      <img class="slide current" src="images/slider-1.jpg" alt="" />
    </div>
    <div class="buttons">
      <div id="prev" class="btn-slider btn-left">
        <i class="material-icons">keyboard_arrow_left</i>
      </div>
      <div id="next" class="btn-slider btn-right">
        <i class="material-icons">keyboard_arrow_right</i>
      </div>
    </div>
  </div>
  <div class="phone-background">
    <img class="slide" src="images/slider-1.png" alt="" />
  </div>
</section>
<!-- Section Information -->
<section class="section-information">
  <div class="container">
    <h2 class="section-title">
      О <span class="font-red">Фестивале</span>
    </h2>
    <div class="cards-wrapper">
      <div class="card">
        <div class="card-icon">
          <i class="material-icons">calendar_today</i>
        </div>
        <h6 class="card-title">Когда?</h6>
        <p class="card-description">С 1 по 24 июля 2020 года</p>
      </div>
      <div class="card">
        <div class="card-icon">
          <i class="material-icons">location_on</i>
        </div>
        <h6 class="card-title">Где?</h6>
        <p class="card-description">
          г. Екатеринбург, ул. Мира 19, площадь перед главным корпусом
          УрФУ
        </p>
      </div>
      <div class="card">
        <div class="card-icon">
          <i class="material-icons">access_time</i>
        </div>
        <h6 class="card-title">Во сколько?</h6>
        <p class="card-description">Ежедневно с 20:00</p>
      </div>
      <div class="card">
        <div class="card-icon">
          <i class="material-icons">money_off</i>
        </div>
        <h6 class="card-title">Вход бесплатный</h6>
        <p class="card-description">Во все дни фестиваля</p>
      </div>
    </div>
  </div>
</section>
<!-- Section Schema  -->
<section class="section-festival-schema">
  <div class="container">
    <h2 class="section-title">
      Схема <span class="font-red">Фестиваля</span>
    </h2>
    <img class="img-schema" src="images/schema.jpg" alt="" />
  </div>
</section>
<!-- Section Organizators -->
<section class="section-organizators">
  <div class="container">
    <h2 class="section-title">
      <span class="font-red">Организаторы</span>
    </h2>
    <div class="cards-wrapper">
    </div>
  </div>
</section>
<!-- Section Suppoerters -->
<section class="section-supporters">
  <div class="container">
    <h2 class="section-title">
      При <span class="font-red">Поддержке</span>
    </h2>
    <div class="cards-wrapper">
    </div>
  </div>
</section>
<!-- Slider JS -->
<script src="/js/slider.js"></script>