<section class="section-photo-albums">
  <div class="container">
    <h2 class="section-title">
      Альбомы <span class="font-red">Фестивалей</span>
    </h2>
    <div class="cards-wrapper">
      {{!-- <a href="single-photos.html" class="card">
        <img src="../images/slider-2.jpg" alt="" class="card-image" />
        <h6 class="card-title">X Венский Фестиваль</h6>
        <p class="card-description">2019 год</p>
      </a> --}}
    </div>
  </div>
</section>