<section class="section-photo-albums">
  <div class="container">
    <h2 class="section-title">
      Альбомы <span class="font-red">Фестивалей</span>
    </h2>
    {{#if albums}}
    <div class="cards-wrapper">
      {{#each albums}}
      <a href="/albums/{{albumYear}}" class="card">
      {{#listItem 0 1 albumImages}}
      <div class="card-image">
        <img src="/uploads/{{albumImage}}" alt="" />
      </div>
      {{/listItem}} 
        <h6 class="card-title">{{albumTitle}}</h6>
        <p class="card-description">{{albumYear}}</p>
      </a>
      {{/each}}
    </div>
    {{/if}}
  </div>
</section>